body {
  font-family: "Open Sans";
}

h1 {
  font-weight: 400 !important;
  font-size: 1.8rem !important;
}
.lead .book-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

h2,
h3,
h4 {
  font-weight: 600 !important;
}

/* a { 
  color: #EBB910;
  text-decoration: underline; 
} */

.container {
  max-width: 960px;
}

.navbar-brand {
  line-height: 30px;
  font-size: 0.9rem;
}
nav.bg-dark {
  background-color: rgba(202, 109, 27, 0.85) !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.menu-spacer {
  display: none;
}

.btn {
  font-weight: 600;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #7c8743;
  border-color: #919e4f;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:focus,
.btn:focus,
.btn.focus,
.btn-primary:hover {
  background-color: #919e4f;
  border-color: #919e4f;
  box-shadow: 0 0 0 0.2rem rgba(187, 203, 101, 0.25) !important;
}

.hero {
  color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 500px;
  height: 500px;
}

.bg-hero-uvod {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
    url(../images/hero/kniha-pro-deti-900.jpg);
  background-position: right;
}
.bg-hero-uvod-bobina {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
    url(../images/hero/viktor-a-zahadna-teta-bobina-900.jpg);
  background-position: right;
}
.bg-hero-uvod-pripad {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
    url(../images/hero/viktor-a-pripad-zmizeleho-psa-900.jpg);
  background-position: right;
}
.bg-hero-uvod-hra-o-sen {
  background-image: url(../images/hero/hra-o-sen-470.jpg);
  background-position: center;
}

.bg-hero-uvod.bg-hero-uvod-hra-o-sen h1,
.bg-hero-uvod.bg-hero-uvod-hra-o-sen p {
  color: rgb(0, 0, 0);
}
.bg-hero-uvod-eliska-andilek {
  background-image: url(../images/hero/eliska-andilek.jpg);
  background-position: center;
}

.bg-hero-uvod.bg-hero-uvod-eliska-andilek h1,
.bg-hero-uvod.bg-hero-uvod-eliska-andilek p {
  color: rgb(0, 0, 0);
  background: white;
  padding: 1rem;
  margin-top: 15rem;
}
.bg-hero-uvod-eliska-rebelka {
  background-image: url(../images/hero/eliska-rebelka.jpg);
  background-position: right;
}

.bg-hero-uvod.bg-hero-uvod-eliska-rebelka h1,
.bg-hero-uvod.bg-hero-uvod-eliska-rebelka p {
  color: rgb(0, 0, 0);
  background: white;
  padding: 1rem;
  margin-top: 15rem;
}
.bg-hero-uvod-eliska-detektiv {
  background-image: url(../images/hero/eliska-detektiv-470.jpg);
  background-position: center;
}

.bg-hero-uvod.bg-hero-uvod-eliska-detektiv h1,
.bg-hero-uvod.bg-hero-uvod-eliska-detektiv p {
  color: rgb(0, 0, 0);
  background: white;
  padding: 1rem;
  margin-top: 15rem;
}
.bg-hero-uvod-tajemstvi {
  background-image: url(../images/hero/tajemstvi-470.jpg);
  background-position: center;
}

.bg-hero-uvod.bg-hero-uvod-tajemstvi h1,
.bg-hero-uvod.bg-hero-uvod-tajemstvi p {
  color: transparent;
}
.bg-hero-uvod.bg-hero-uvod-tajemstvi .scroll-down {
  display: none;
}

.bg-hero-uvod h1,
.bg-hero-uvod p {
  color: white;
  background-color: transparent;
}

.reference-strip {
  background-color: #fbedd0;
}
.reference-strip-white {
  background-color: #fff;
}
.reference-strip img {
  max-width: 180px;
}
.book-text-strip {
  background-color: #f7f6f6;
}
.reference-video {
  padding: 0;
}

.phone {
  opacity: 0.5;
}

.blockquote {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(100, 10, 50, 0.85);
  border-left: 3px solid rgba(100, 10, 50, 0.85);
  margin-left: 1.2rem;
  padding-left: 1.2rem;
}
.logo-albatros {
  width: 70px;
  position: relative;
  left: -10px;
}
.logo-grada {
  width: 169px;
  position: relative;
  left: -10px;
  top: 10px;
}

a.scroll-down {
  display: block;
  margin-top: 1rem;
}
a.scroll-down img {
  width: 42px;
  opacity: 0.6;
}
.heartbeat {
  -webkit-animation: heartbeat 2.5s infinite;
  animation: heartbeat 2.5s infinite;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-4-23 11:4:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

@media (min-width: 322px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

@media (min-width: 470px) {
  .bg-hero-uvod-hra-o-sen {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
      url(../images/hero/hra-o-sen.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-andilek {
    background-image: url(../images/hero/eliska-andilek.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-rebelka {
    background-image: url(../images/hero/eliska-rebelka.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-detektiv {
    background-image: url(../images/hero/eliska-detektiv.jpg);
    background-position: right;
  }
  .bg-hero-uvod-tajemstvi {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
      url(../images/hero/tajemstvi.jpg);
    background-position: right;
  }
  .bg-hero-uvod.bg-hero-uvod-tajemstvi h1,
  .bg-hero-uvod.bg-hero-uvod-tajemstvi p {
    color: rgb(0, 0, 0);
  }
  .bg-hero-uvod.bg-hero-uvod-tajemstvi .scroll-down {
    display: block;
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 1.1rem;
  }
  h1 {
    font-weight: 600 !important;
    font-size: 2rem !important;
  }
  .lead .book-title {
    font-size: 2.5rem;
  }
  .bg-hero-uvod {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
      url(../images/hero/kniha-pro-deti.jpg);
  }
  .bg-hero-uvod-bobina {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
      url(../images/hero/viktor-a-zahadna-teta-bobina.jpg);
  }
  .bg-hero-uvod-pripad {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0)),
      url(../images/hero/viktor-a-pripad-zmizeleho-psa.jpg);
  }
  .bg-hero-uvod-hra-o-sen {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
      url(../images/hero/hra-o-sen.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-andilek {
    background-image: url(../images/hero/eliska-andilek.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-rebelka {
    background-image: url(../images/hero/eliska-rebelka.jpg);
    background-position: right;
  }
  .bg-hero-uvod-eliska-detektiv {
    background-image: url(../images/hero/eliska-detektiv.jpg);
    background-position: right;
  }
  .bg-hero-uvod-tajemstvi {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
      url(../images/hero/tajemstvi.jpg);
    background-position: right;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .hero {
    min-height: 700px;
    height: 700px;
  }
  h1 {
    font-weight: 300 !important;
    font-size: 3rem !important;
  }
  .bg-hero-uvod {
    background-position: right;
  }

  .bg-hero-uvod h1,
  .bg-hero-uvod p {
    color: white;
    background-color: transparent;
  }
  .reference-strip img {
    max-width: 160px;
  }
  .reference-video {
    padding: 0 10%;
  }
  .bg-hero-uvod-hra-o-sen {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url(../images/hero/hra-o-sen.jpg);
  }
  .bg-hero-uvod-eliska-andilek {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url(../images/hero/eliska-andilek.jpg);
  }
  .bg-hero-uvod-eliska-rebelka {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url(../images/hero/eliska-rebelka.jpg);
  }
  .bg-hero-uvod-eliska-detektiv {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url(../images/hero/eliska-detektiv.jpg);
  }
  .bg-hero-uvod-tajemstvi {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url(../images/hero/tajemstvi.jpg);
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  h1 {
    font-size: 3.8rem !important;
  }
  .reference-strip img {
    max-width: 200px;
  }
  .dot {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .menu-spacer {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin: 0 2.5rem;
  }
  .bg-hero-svatba {
    background-position: right;
  }
  .reference-video {
    padding: 0 15%;
  }
}

@media (min-width: 1500px) {
  .book-sample img {
    float: left;
    margin-right: 1rem;
  }
}

@media (min-width: 1600px) {
  .hero {
    min-height: 900px;
    height: 900px;
  }
}

/*
   * Extra utilities
   */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.circle-object {
  background: #3e3e3e;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  overflow: hidden;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-2-16 15:29:55
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
