---
layout: layouts/page.njk
title: Naše vydané knihy
description: "📖 Čtou vaše děti? A čtete vy jim? Zábava i napětí, tajemství a nakonec rozuzlení. Naše knihy pro zvídavé děti, rodiče i prarodiče. 👪 Skvělé ilustrace!"
permalink: /nase-knihy.html
---

<div class="container-fluid px-0">
  <div class="row mb-0 ps-md-3 ps-xl-5 mt-5 mt-md-5 pt-3 pt-xl-5">
    <div class="col-12 me-md-0 pt-3 px-3 pt-md-4 px-md-5">
      <h1>Seznamte se</h1>
    </div>
  </div>

  {# Iterate through all books in groups of 3 #}
  {% for row in books | batch(3) %}
  <div class="row mb-4 my-md-3 px-md-3 px-xl-5 py-sm-3 pt-sm-0">
    {% for book in row %}
    <div class="col-12 col-sm-12 col-md-4 mb-5">
      <div class="row">
        <div class="col-12 text-center overflow-hidden">
          <a href="/{{ book.slug }}.html">
            <img
              src="{{ book.cover }}"
              width="300"
              class="mb-4"
              alt="{{ book.title }}"
              loading="lazy"
            />
          </a>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-12 text-center overflow-hidden">
          <a href="/{{ book.slug }}.html"><h4>{{ book.title }}</h4></a>
          <p><small class="text-muted">Rok vydání: {{ book.year }}</small></p>
          <p>
            <em>{{ book.summary }}</em>
          </p>
          <a class="btn btn-primary" href="/{{ book.slug }}.html"> Více o knize</a>
          {% if book.buyLinks and book.buyLinks.length > 0 %}
          <a class="btn btn-light" href="{{ book.buyLinks[0].url }}" target="_blank" rel="noopener">
            Koupit knihu
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
